body {
  background-image : url("http://eskipaper.com/images/dark-background-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#text{
  color: blue;
}
#MainHeader{
  color: #92f442;
  font-size: 100px;
  text-align: center;
}
#underMain{
  color: #59f441;
  text-align: center;
  margin-top: -5em;
}
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

div.tab button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

div.tab button:hover {
  background-color: #ddd;
}

div.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
}
